body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:30px;
  top:215px;
  width:846px;
  height:285px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:846px;
  height:285px;
}
#u1 {
  position:absolute;
  left:2px;
  top:134px;
  width:842px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:30px;
  top:166px;
  width:100px;
  height:32px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:51px;
  top:229px;
  width:99px;
  height:19px;
  font-size:14px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:19px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:261px;
  top:229px;
  width:99px;
  height:19px;
  font-family:'Segoe UI Negrito', 'Segoe UI';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:19px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:380px;
  top:229px;
  width:99px;
  height:19px;
  font-family:'Segoe UI Negrito', 'Segoe UI';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:19px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:488px;
  top:229px;
  width:99px;
  height:19px;
  font-family:'Segoe UI Negrito', 'Segoe UI';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:19px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:622px;
  top:229px;
  width:99px;
  height:19px;
  font-family:'Segoe UI Negrito', 'Segoe UI';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:19px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:751px;
  top:229px;
  width:99px;
  height:19px;
  font-family:'Segoe UI Negrito', 'Segoe UI';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:19px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:52px;
  top:255px;
  width:798px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:781px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:5px;
  width:798px;
  height:1px;
}
#u17 {
  position:absolute;
  left:51px;
  top:275px;
  width:99px;
  height:19px;
  font-family:'Segoe UI Normal', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:19px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:261px;
  top:275px;
  width:109px;
  height:19px;
  font-family:'Segoe UI Normal', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:19px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:380px;
  top:275px;
  width:99px;
  height:19px;
  font-family:'Segoe UI Normal', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:19px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:488px;
  top:275px;
  width:124px;
  height:19px;
  font-family:'Segoe UI Normal', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:19px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:622px;
  top:270px;
  width:99px;
  height:38px;
  font-family:'Segoe UI Normal', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:38px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:751px;
  top:275px;
  width:99px;
  height:19px;
  font-family:'Segoe UI Normal', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:19px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:52px;
  top:311px;
  width:798px;
  height:10px;
}
#u29_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_end {
  position:absolute;
  left:781px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_line {
  position:absolute;
  left:0px;
  top:5px;
  width:798px;
  height:1px;
}
#u30 {
  position:absolute;
  left:51px;
  top:331px;
  width:99px;
  height:19px;
  font-family:'Segoe UI Normal', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:19px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:261px;
  top:331px;
  width:109px;
  height:19px;
  font-family:'Segoe UI Normal', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:19px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:380px;
  top:331px;
  width:99px;
  height:19px;
  font-family:'Segoe UI Normal', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:19px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:488px;
  top:331px;
  width:124px;
  height:19px;
  font-family:'Segoe UI Normal', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:19px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:622px;
  top:326px;
  width:99px;
  height:38px;
  font-family:'Segoe UI Normal', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:38px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:751px;
  top:331px;
  width:99px;
  height:19px;
  font-family:'Segoe UI Normal', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:19px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:52px;
  top:369px;
  width:798px;
  height:10px;
}
#u42_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_end {
  position:absolute;
  left:781px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_line {
  position:absolute;
  left:0px;
  top:5px;
  width:798px;
  height:1px;
}
#u43 {
  position:absolute;
  left:51px;
  top:389px;
  width:99px;
  height:19px;
  font-family:'Segoe UI Normal', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:19px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:261px;
  top:389px;
  width:109px;
  height:19px;
  font-family:'Segoe UI Normal', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:19px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:380px;
  top:389px;
  width:99px;
  height:19px;
  font-family:'Segoe UI Normal', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:19px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:488px;
  top:389px;
  width:124px;
  height:19px;
  font-family:'Segoe UI Normal', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:19px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:622px;
  top:384px;
  width:99px;
  height:38px;
  font-family:'Segoe UI Normal', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:38px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:751px;
  top:389px;
  width:99px;
  height:19px;
  font-family:'Segoe UI Normal', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:19px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:52px;
  top:425px;
  width:798px;
  height:10px;
}
#u55_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_end {
  position:absolute;
  left:781px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_line {
  position:absolute;
  left:0px;
  top:5px;
  width:798px;
  height:1px;
}
#u56 {
  position:absolute;
  left:51px;
  top:445px;
  width:99px;
  height:19px;
  font-family:'Segoe UI Normal', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:19px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:261px;
  top:445px;
  width:109px;
  height:19px;
  font-family:'Segoe UI Normal', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:19px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:380px;
  top:445px;
  width:99px;
  height:19px;
  font-family:'Segoe UI Normal', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:19px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:488px;
  top:445px;
  width:124px;
  height:19px;
  font-family:'Segoe UI Normal', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:19px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:622px;
  top:442px;
  width:99px;
  height:38px;
  font-family:'Segoe UI Normal', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:38px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:751px;
  top:445px;
  width:99px;
  height:19px;
  font-family:'Segoe UI Normal', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:19px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:0px;
  top:78px;
  width:1200px;
  height:50px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u70 {
  position:absolute;
  left:2px;
  top:17px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:13px;
  top:20px;
  width:737px;
  height:38px;
  font-family:'Museo 900 Regular', 'Museo 900';
  font-weight:900;
  font-style:normal;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:737px;
  height:38px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:737px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:13px;
  top:78px;
  width:348px;
  height:50px;
}
#u73_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:354px;
  height:56px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:55px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:50px;
  font-family:'Segoe UI Negrito', 'Segoe UI';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:50px;
}
#u75_img.selected {
}
#u75.selected {
}
#u75_img.mouseOver {
}
#u75.mouseOver {
}
#u76 {
  position:absolute;
  left:2px;
  top:16px;
  width:125px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:129px;
  top:0px;
  width:129px;
  height:50px;
  font-family:'Segoe UI Negrito', 'Segoe UI';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:50px;
}
#u77_img.selected {
}
#u77.selected {
}
#u77_img.mouseOver {
}
#u77.mouseOver {
}
#u78 {
  position:absolute;
  left:2px;
  top:16px;
  width:125px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:258px;
  top:0px;
  width:90px;
  height:50px;
  font-family:'Segoe UI Negrito', 'Segoe UI';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:50px;
}
#u79_img.selected {
}
#u79.selected {
}
#u79_img.mouseOver {
}
#u79.mouseOver {
}
#u80 {
  position:absolute;
  left:2px;
  top:16px;
  width:86px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:0px;
  top:50px;
  width:140px;
  height:80px;
  visibility:hidden;
}
#u81_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:146px;
  height:86px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:85px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  font-family:'Segoe UI Negrito', 'Segoe UI';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u83_img.selected {
}
#u83.selected {
}
#u83_img.mouseOver {
}
#u83.mouseOver {
}
#u84 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:0px;
  top:40px;
  width:140px;
  height:40px;
  font-family:'Segoe UI Negrito', 'Segoe UI';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u85_img.selected {
}
#u85.selected {
}
#u85_img.mouseOver {
}
#u85.mouseOver {
}
#u86 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:129px;
  top:50px;
  width:140px;
  height:120px;
  visibility:hidden;
}
#u87_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:146px;
  height:126px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:125px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  font-family:'Segoe UI Negrito', 'Segoe UI';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u89_img.selected {
}
#u89.selected {
}
#u89_img.mouseOver {
}
#u89.mouseOver {
}
#u90 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:0px;
  top:40px;
  width:140px;
  height:40px;
  font-family:'Segoe UI Negrito', 'Segoe UI';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u91_img.selected {
}
#u91.selected {
}
#u91_img.mouseOver {
}
#u91.mouseOver {
}
#u92 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:0px;
  top:80px;
  width:140px;
  height:40px;
  font-family:'Segoe UI Negrito', 'Segoe UI';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u93_img.selected {
}
#u93.selected {
}
#u93_img.mouseOver {
}
#u93.mouseOver {
}
#u94 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:621px;
  top:78px;
  width:129px;
  height:50px;
}
#u95_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:135px;
  height:56px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:55px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:50px;
  font-family:'Segoe UI Negrito', 'Segoe UI';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:50px;
}
#u97_img.selected {
}
#u97.selected {
}
#u97_img.mouseOver {
}
#u97.mouseOver {
}
#u98 {
  position:absolute;
  left:2px;
  top:16px;
  width:125px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:0px;
  top:50px;
  width:140px;
  height:80px;
  visibility:hidden;
}
#u99_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:146px;
  height:86px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:85px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  font-family:'Segoe UI Negrito', 'Segoe UI';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u101_img.selected {
}
#u101.selected {
}
#u101_img.mouseOver {
}
#u101.mouseOver {
}
#u102 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:0px;
  top:40px;
  width:140px;
  height:40px;
  font-family:'Segoe UI Negrito', 'Segoe UI';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u103_img.selected {
}
#u103.selected {
}
#u103_img.mouseOver {
}
#u103.mouseOver {
}
#u104 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
